Repository Kami/raspberry-pi-ham-radio: changes, and which Codecov flags are due for each by the changed paths.
All: radio_bridge, wx_server

Update readme.
  README.md
Due: none

Store generated Protobuf files under each component directory / package.
  generated/__init__.py
  generated/protobuf/__init__.py
  generated/protobuf/messages_pb2.py
  generated/protobuf/messages_pb2.pyi
  generated/protobuf/messages_pb2_grpc.py
  scripts/generate-protobuf-definitions.sh
Due: none

Update affected code.
  lint-configs/.flake8
  lint-configs/mypy.ini
  pyproject.toml
  radio_bridge/radio_bridge/plugins/location_weather.py
  radio_bridge/radio_bridge/utils/weather.py
  wx_server/wx_server/formatters.py
  wx_server/wx_server/io.py
Due: radio_bridge, wx_server

Add auto-generated files.
  radio_bridge/radio_bridge/generated/__init__.py
  radio_bridge/radio_bridge/generated/protobuf/__init__.py
  radio_bridge/radio_bridge/generated/protobuf/messages_pb2.py
  radio_bridge/radio_bridge/generated/protobuf/messages_pb2.pyi
  radio_bridge/radio_bridge/generated/protobuf/messages_pb2_grpc.py
  wx_server/wx_server/generated/__init__.py
  wx_server/wx_server/generated/protobuf/__init__.py
  wx_server/wx_server/generated/protobuf/messages_pb2.py
  wx_server/wx_server/generated/protobuf/messages_pb2.pyi
  wx_server/wx_server/generated/protobuf/messages_pb2_grpc.py
Due: radio_bridge, wx_server

Update .gitignore.
  .gitignore
Due: none

Make wx_server re-distributable as Python package.
  .gitignore
  NOTICE.md
  radio_bridge/radio_bridge/__init__.py
  wx_server/MANIFEST.in
  wx_server/conf/wx_server.conf
  wx_server/dist_utils.py
  wx_server/setup.py
  wx_server/test-requirements.txt
  wx_server/wx_server/__init__.py
  wx_server/wx_server/app.py
  wx_server/wx_server/conf
  wx_server/wx_server/configuration.py
Due: radio_bridge, wx_server

Fix typo.
  radio_bridge/dist_utils.py
  wx_server/setup.py
Due: radio_bridge, wx_server

Make radio bridge installable as Python package.
  radio_bridge/conf/radio_bridge.defaults.conf
  radio_bridge/radio_bridge/conf
  radio_bridge/radio_bridge/configuration.py
  radio_bridge/requirements.txt
  radio_bridge/setup.py
Due: radio_bridge

Add dist checks to CI.
  .github/workflows/main.yml
  radio_bridge/tox.ini
  wx_server/tox.ini
Due: radio_bridge, wx_server

Add some mock based tests for more plugins.
  .gitignore
  lint-configs/mypy.ini
  radio_bridge/conf/logging.tests.conf
  radio_bridge/radio_bridge/plugins/current_time.py
  radio_bridge/radio_bridge/plugins/location_weather.py
  radio_bridge/radio_bridge/utils/weather.py
  radio_bridge/tests/fixtures/plugins/location_weather/01_ljubljana.xml
  radio_bridge/tests/unit/plugins/__init__.py
  radio_bridge/tests/unit/plugins/base.py
  radio_bridge/tests/unit/plugins/test_current_time.py
  radio_bridge/tests/unit/plugins/test_local_weather.py
  radio_bridge/tests/unit/plugins/test_location_weather.py
  wx_server/wx_server/io.py
Due: radio_bridge, wx_server

Add tests for help plugin.
  radio_bridge/radio_bridge/configuration.py
  radio_bridge/radio_bridge/plugins/base.py
  radio_bridge/radio_bridge/plugins/help.py
  radio_bridge/tests/unit/plugins/test_help.py
Due: radio_bridge

Use better test method names.
  radio_bridge/tests/unit/plugins/test_current_time.py
  radio_bridge/tests/unit/plugins/test_help.py
  radio_bridge/tests/unit/plugins/test_local_weather.py
Due: radio_bridge

Fix lint.
  radio_bridge/radio_bridge/plugins/current_time.py
  radio_bridge/radio_bridge/plugins/record_audio.py
Due: radio_bridge

Add additional tests for repeater info plugin.
  radio_bridge/tests/unit/plugins/test_repeater_info.py
Due: radio_bridge

Enable branch code coverage reporting, skip generated files from the report.
  .coveragerc
  .gitignore
  radio_bridge/.coveragerc
  wx_server/.coveragerc
Due: radio_bridge, wx_server

Add tests for configuration module, add additional arguments to the "_get_config()" function and evaluate value os config path environment variable on demand aka when functions are called.
  radio_bridge/conf/radio_bridge.example.conf
  radio_bridge/radio_bridge/configuration.py
  radio_bridge/tests/fixtures/configs/config1.ini
  radio_bridge/tests/unit/test_configuration.py
Due: radio_bridge

Fix lint.
  radio_bridge/tests/unit/plugins/test_repeater_info.py
Due: radio_bridge

Add tests for audio player.
  radio_bridge/tests/fixtures/audio/plugin_current_time.mp3
  radio_bridge/tests/fixtures/audio/plugin_current_time.wav
  radio_bridge/tests/unit/base.py
  radio_bridge/tests/unit/plugins/base.py
  radio_bridge/tests/unit/test_audio_player.py
  radio_bridge/tests/unit/test_configuration.py
Due: radio_bridge

Add initial wip tests for RX class.
  radio_bridge/tests/unit/test_rx.py
Due: radio_bridge

Skip failing test on CI, remove unused plugin.
  radio_bridge/radio_bridge/plugins/admin/test.py
  radio_bridge/tests/unit/test_rx.py
  radio_bridge/tox.ini
Due: radio_bridge

Add tests for more admin commands, fix lint.
  radio_bridge/radio_bridge/configuration.py
  radio_bridge/radio_bridge/plugins/admin/change_tts_implementation.py
  radio_bridge/radio_bridge/plugins/admin/disable_dtmf_commands.py
  radio_bridge/tests/unit/plugins/base.py
  radio_bridge/tests/unit/plugins/test_admin_change_tts_implementation.py
  radio_bridge/tests/unit/plugins/test_admin_disable_dtmf_plugins.py
  radio_bridge/tests/unit/plugins/test_admin_enable_dtmf_commands.py
Due: radio_bridge

Add missing passenv which is not inherited.
  radio_bridge/tox.ini
Due: radio_bridge

Fix broken link.
  README.md
Due: none

Add additional asserts which verify config file values on disk have been correctly updated.
  radio_bridge/radio_bridge/configuration.py
  radio_bridge/tests/unit/plugins/base.py
  radio_bridge/tests/unit/plugins/test_admin_change_tts_implementation.py
  radio_bridge/tests/unit/plugins/test_admin_disable_dtmf_plugins.py
  radio_bridge/tests/unit/plugins/test_admin_enable_dtmf_commands.py
  radio_bridge/tests/unit/test_configuration.py
Due: radio_bridge

Add additional tests for config validation.
  radio_bridge/radio_bridge/configuration.py
  radio_bridge/tests/fixtures/configs/config2.ini
  radio_bridge/tests/unit/test_configuration.py
Due: radio_bridge

Add some basic test cases for TTS class.
  radio_bridge/radio_bridge/tts.py
  radio_bridge/tests/unit/test_tts.py
Due: radio_bridge

Exclude third party code from coverage data.
  .coveragerc
Due: none

Add missing dependency.
  .github/workflows/main.yml
Due: none

Update cron plugin to utilize some of the new functions, etc. Fix invalid config.
  radio_bridge/conf/radio_bridge.example.conf
  radio_bridge/radio_bridge/configuration.py
  radio_bridge/radio_bridge/plugins/cron.py
Due: radio_bridge

Add some initial tests for cron say plugin.
  radio_bridge/tests/fixtures/configs/config3.ini
  radio_bridge/tests/unit/plugins/test_cron.py
Due: radio_bridge

Fix lint.
  radio_bridge/radio_bridge/plugins/base.py
  radio_bridge/radio_bridge/plugins/current_time.py
  radio_bridge/radio_bridge/plugins/record_audio.py
  radio_bridge/tests/unit/plugins/test_cron.py
Due: radio_bridge

Add support for retrying to the flaky test.
  radio_bridge/tests/unit/test_tts.py
Due: radio_bridge

Add support for --dev, --emulator and --debug flags to the entry point script, lazily load the plugins on first request.
  radio_bridge/bin/radio-bridge
  radio_bridge/conf/logging.conf
  radio_bridge/radio_bridge/log.py
  radio_bridge/radio_bridge/main.py
  radio_bridge/radio_bridge/plugins/__init__.py
  radio_bridge/radio_bridge/plugins/cron.py
  radio_bridge/radio_bridge/utils/logging.py
Due: radio_bridge

Update readme.
  radio_bridge/README.md
Due: radio_bridge

Sort plugins based on the dtmf_sequence value.
  radio_bridge/radio_bridge/plugins/__init__.py
  radio_bridge/tests/unit/plugins/test_help.py
Due: radio_bridge

Fix lint.
  .coveragerc
  radio_bridge/radio_bridge/main.py
  radio_bridge/radio_bridge/plugins/__init__.py
  radio_bridge/radio_bridge/plugins/base.py
  radio_bridge/radio_bridge/utils/logging.py
Due: radio_bridge

Add tests for API endpoint handler.
  wx_server/tests/unit/test_api_endpoints.py
  wx_server/wx_server/logging.py
  wx_server/wx_server/wx_data.py
Due: wx_server

Fix lint.
  radio_bridge/radio_bridge/main.py
  radio_bridge/radio_bridge/plugins/base.py
Due: radio_bridge

Path conditions:
  radio_bridge: any of: radio_bridge/
  wx_server: any of: wx_server/
